main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
main>section > h2 {
    border-bottom: 1px solid;
    border-color: #ffffff;
    padding: 20px 10px;
    text-align: center;
    color: #505050;
    text-transform: uppercase;
}
main>section>.container{
    padding: 20px 10px;
}
main>section:nth-child(even) {
    background: var(--section-bg-gradient-secondary);
}

main>section:nth-child(odd) {
    background: var(--section-bg-gradient-primary);
}

@media screen and (prefers-color-scheme: dark) {
    main>section > h2 {
        border-color: #000000;
        color: #c0c0c0;
    }
}