:root {
    /* PRIMARY */
    --section-bg-gradient-primary-daytime: linear-gradient(180deg, rgb(146 233 252 / 28%) 0%, rgb(132 210 247 / 42%) 100%);
    --section-bg-gradient-primary-nighttime: #1c1c1c;

    /* SECONDARY */
    --section-bg-gradient-secondary-daytime: linear-gradient(180deg, rgb(49 251 125 / 18%) 0%, rgb(135 255 155 / 44%) 100%);
    --section-bg-gradient-secondary-nighttime: #1c1c1c;

    --section-bg-gradient-primary: var(--section-bg-gradient-primary-daytime);
    --section-bg-gradient-secondary: var(--section-bg-gradient-secondary-daytime);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        /* PRIMARY */
        --section-bg-gradient-primary: var(--section-bg-gradient-primary-nighttime);

        /* SECONDARY */
        --section-bg-gradient-secondary: var(--section-bg-gradient-secondary-nighttime);
    }
}