#hero {
  background-image: url(../assets/tool-set-on-plank.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 10%;
}


#hero .container {
  background: #2525259e;
  backdrop-filter: blur(4px) contrast(.9);
  color: #ffce00;
  padding: 50px 10px;
  border: 1px solid #ffcc00;
  border-radius: 10px;
}

#hero .container h1, #hero .container p {
  text-align: center;
}

#hero .container h1 {
  font-weight: 900;
  font-family: revert;
}

#hero .container a {
  color: inherit;
}
