#hero {
  background-image: url("../assets/tool-set-on-plank.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .container {
  background: #2525259e;
  backdrop-filter: blur(4px) contrast(.9);
  color: #ffce00;
  padding: 20px;
  border: 1px solid #fc0;
  border-radius: 10px;
  margin: 20px;
}

#hero .container h1, #hero .container p {
  text-align: center;
}

#hero .container h1 {
  font-weight: 900;
  font-family: revert;
}

#hero .container a {
  color: inherit;
}
