:root {
  /* PRIMARY */
  --section-bg-gradient-primary-daytime: linear-gradient(180deg, rgb(146 233 252 / 28%) 0%, rgb(132 210 247 / 42%) 100%);
  --section-bg-gradient-primary-nighttime: linear-gradient(180deg, rgb(57 66 68) 0%, rgb(44 45 52) 100%);

  /* SECONDARY */
  --section-bg-gradient-secondary-daytime: linear-gradient(180deg, rgb(49 251 125 / 18%) 0%, rgb(135 255 155 / 44%) 100%);
  --section-bg-gradient-secondary-nighttime: linear-gradient(180deg, rgb(89 68 51) 0%, rgb(89 61 47) 100%);
}