#hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    padding: 10px;
}


#hero .container {
    background: linear-gradient(to bottom, rgb(126 125 125 / 53%) 0%, rgb(14 14 14 / 60%) 100%);
    backdrop-filter: blur(4px) contrast(.9);
    color: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    background: #5252528c;
}

#hero .container h1,
#hero .container p {
    text-align: center;
}

#hero .container h1 {
    font-weight: 500;
    font-family: revert;
    font-size: 2.2rem;
    text-transform: uppercase;
}

#hero .container a {
    color: inherit;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}