main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
main>section > h2 {
    border-bottom: 1px solid;
    border-color: #ffffff;
    padding: 20px 10px;
    text-align: center;
}
main>section>.container{
    padding: 20px 10px;
}
main>section:nth-child(even) {
    background: var(--section-bg-gradient-secondary-daytime);
}

main>section:nth-child(odd) {
    background: var(--section-bg-gradient-primary-daytime);
}

@media screen and (prefers-color-scheme: dark) {
    main>section:nth-child(even) {
        background: var(--section-bg-gradient-secondary-daytime);
    }

    main>section:nth-child(odd) {
        background: var(--section-bg-gradient-primary-daytime);
    }
}