main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
main>section {
    padding: 50px 10px;
    border: 1px solid;
    border-color: #7f7f7f;
}
main>section:nth-child(even) {
    background: var(--section-bg-gradient-secondary-daytime);
}

main>section:nth-child(odd) {
    background: var(--section-bg-gradient-primary-daytime);
}

@media screen and (prefers-color-scheme: dark) {
    main>section:nth-child(even) {
        background: var(--section-bg-gradient-secondary-daytime);
    }

    main>section:nth-child(odd) {
        background: var(--section-bg-gradient-primary-daytime);
    }
}